.category-image {
  width: 13rem;
  height: 18rem;
  object-fit: cover;
}
.cont {
  display: flex;
  width: 60rem;
  justify-content: space-around;
}
.ing-cont {
  margin-top: 0.5rem;
  display: flex;
  width: 98.5vw;
  justify-content: center;
  align-items: center;
  height: 89.5%;
  min-height: 45vh;
  flex-direction: column;
  border-radius: 15px;
  background-color: #467d5b;
  margin-bottom: 0.5rem;
}
.category-cont {
  font-family: "raleway";
  text-decoration: none;
  color: black;
}
.itle {
  text-align: center;
  font-size: 1.2rem;
  background-color: black;
  color: #e7ddf7;
}
.fc {
  font-family: "REM";
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #467d5b;
  text-align: center;
}
.oiwdf {
  display: flex;
  flex-direction: column;
  background-color: #e7ddf7;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 15px;
  width: 60rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 1100px) {
  .oiwdf {
    width: 25rem;
  }
  .itle {
    width: 20rem;
  }
}
.shrinked-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
