@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=REM:wght@200;300;400;500&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
::-webkit-scrollbar {
  width: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 98.5vw;
  min-width: 620px;
}
#logo {
  width: 6rem;
  height: 5rem;
  object-fit: cover;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;
  width: 100vw;
  margin: 0;
  min-height: 98.5vh;
  position: absolute;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  width: 98.5vw;
  background: #e7ddf7;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#shop-name {
  font-size: 2rem;
  font-family: "raleway";
  margin-left: 1rem;
  color: #40a83a;
}

.right-top {
  display: flex;
  width: 40vw;
  justify-content: space-evenly;
}
.Link {
  text-decoration: none;
  font-size: 0.95rem;
  font-family: "raleway";
  color: black;
  display: flex;
  align-items: center;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  border-radius: 25px;
  color: white;
  background: #467d5b;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  font-family: "raleway";
  color: black;
  display: flex;
  align-items: center;
}
.sbar,
.sbar:focus {
  width: 100%;
  outline: none;
  height: 2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  padding-left: 1rem;
  font-size: 0.9rem;
  font-family: "raleway";
  background-color: #f3edf7;
  color: black;
}

#srbutton {
  height: 2.1rem;
  border: none;
  width: 4rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: "raleway";
  border-left: none;
  color: white;
  background: black;
}

.middle {
  display: flex;
  width: 40vw;
}
.left-top {
  padding-right: 1rem;
  height: 5rem;
  display: flex;
}
.selected,
.selected:focus {
  text-decoration: none;
  font-size: 0.95rem;
  font-family: "raleway";
  color: black;
  display: flex;
  align-items: center;
  border: none;
  padding: 0rem 1.2rem 0rem 1.2rem;
  outline: none;
  height: 1.39rem;
}
.tcart {
  font-family: "REM";
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: #e7ddf7;
}
.msgo {
  display: flex;
  font-size: 1.5rem;
  font-family: "raleway";
  padding-top: 5rem;
  justify-content: center;
  color: #e7ddf7;
}
.tile {
  font-family: "REM";
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  font-weight: 200;
  padding-top: 10vh;
}
.tt {
  font-size: 1.7rem;
  font-family: "REM";
  padding: 0.5rem 0 0.5rem 0;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.de {
  width: 66rem;
  font-family: "REM";
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}
#sn {
  border: 1px white solid;
  color: white;
  width: 6rem;
  height: 2rem;
  font-family: "raleway";
  background-color: transparent;
}
#sn:hover {
  color: white;
  background: black;
  border: 1px black solid;
}
#bbb {
  padding-top: 0.7rem;
}
#truck {
  font-size: 2rem;
}
.fea {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.features {
  display: flex;
  justify-content: space-around;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}
.wo {
  font-family: "REM";
  font-weight: 300;
}
.nl {
  display: flex;
  justify-content: center;
  font-family: "REM";
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
}
.nlc {
  display: flex;
  justify-content: center;
  font-family: "REM";
  font-size: 1rem;
  font-weight: 300;
  padding: 0rem 1rem 1rem 1rem;
}
#nli {
  width: 30rem;
  height: 1.5rem;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 10px;
}
#nli:focus {
  outline: none;
}
#nlb {
  width: 2.5rem;
  height: 1.65rem;
  border: none;
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  color: white;
  background: #000;
}

#sl {
  font-size: 1.2rem;
}
.ib {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter {
  margin-top: 3rem;
  background: #e7ddf7;
  color: #467d5b;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 9rem;
  border-radius: 15px;
}
.left-footer {
  font-size: 1.5rem;
  font-family: "raleway";
  font-weight: 300;
}
.right-footer {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  width: 10rem;
}
footer {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  align-items: center;
  color: black;
  background-color: #e7ddf7;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 98.5vw;
}
.login-buton {
  font-size: 0.95rem;
  font-family: "raleway";
  color: black;
  display: flex;
  align-items: center;
  border: none;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  border-radius: 25px;
  color: white;
  background: #467d5b;
  height: 2.15rem;
}
.k-c-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98.5vw;
  margin-right: auto;
  margin-left: auto;
  row-gap: 1rem;
  min-height: 50vh;
  background-color: #467d5b;
  padding-bottom: 0.7rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.d-c {
  display: flex;
  background: linear-gradient(360deg, white, rgb(226, 226, 226));
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 10px;
  width: 1000px;
}
#c-i {
  width: 140px;
  height: 150px;
  object-fit: cover;
  border: none;
}

.opop {
  margin-right: 1rem;
}
.right-bot {
  display: flex;
  flex-direction: column;
}
#c-t {
  font-size: 1.5rem;
}
#q-q {
  font-size: 1.1rem;
  font-family: "raleway";
}
#ca-bu {
  display: flex;
  margin-top: 1rem;
}
#pbc,
#mbc {
  background: transparent;
  width: 2.5rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "raleway";
  border: 1px solid black;
}
#mbc {
  color: white;
  background-color: black;
}
#trash {
  font-size: 1.4rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border: none;
  margin-left: 2rem;
}
#dbuto {
  height: 1.9rem;
  font-size: 1rem;
  font-family: "raleway";
  width: 10rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: white;
  background: #000;
}
.haa {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.msgpo {
  display: flex;
  font-size: 1.2rem;
  font-family: "raleway";
  justify-content: center;
}
#ghi {
  color: black;
}
@media (max-width: 1175px) {
  .d-c {
    width: 80vw;
  }
}
