@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=REM:wght@200;300;400;500&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
::-webkit-scrollbar {
  width: 0px;
}
#root {
  display: flex;
  flex-direction: column;
  width: 98.5vw;
  min-width: 620px;
}
#logo {
  width: 6rem;
  height: 5rem;
  object-fit: cover;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;
  width: 100vw;
  margin: 0;
  min-height: 98.5vh;
  position: absolute;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  width: 98.5vw;
  background: #ccdbfe;
}
#shop-name {
  font-size: 2.7rem;
  height: 80%;
  font-family: "raleway";
  color: black;
  background: #ccdbfe;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.right-top {
  display: flex;
  width: 38%;
  justify-content: space-evenly;
}
.Link {
  text-decoration: none;
  font-size: 0.95rem;
  font-family: "raleway";
  display: flex;
  align-items: center;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  border-radius: 25px;
  color: white;
  background-color: black;
  height: 1.65rem;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  font-family: "raleway";
  color: black;
  display: flex;
  align-items: center;
}
.sbar,
.sbar:focus {
  width: 100%;
  outline: none;
  height: 2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0.5px white solid;
  padding-left: 1rem;
  font-size: 0.9rem;
  font-family: "raleway";
  color: black;
}

#srbutton {
  height: 2.25rem;
  border: none;
  width: 4rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: "raleway";
  border-left: none;
  color: white;
  background: black;
}

.middle {
  display: flex;
  width: 45vw;
}
.left-top {
  padding-right: 1rem;
  height: 5rem;
  display: flex;
}
.selected,
.selected:focus {
  text-decoration: none;
  font-size: 0.95rem;
  font-family: "raleway";
  color: black;
  display: flex;
  align-items: center;
  border: none;
  padding: 0rem 1.2rem 0rem 1.2rem;
  outline: none;
  height: 1.39rem;
}
.tcart {
  font-family: "REM";
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: #d41d6d;
}
.msgo {
  display: flex;
  font-size: 1.5rem;
  font-family: "raleway";
  padding-top: 5rem;
  justify-content: center;
  color: black;
}
.tile {
  font-family: "REM";
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  font-weight: 200;
  padding-top: 10vh;
}
.tt {
  font-size: 1.8rem;
  font-family: "REM";
  padding: 0.5rem 0 0.5rem 0;
  color: white;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.de {
  width: 66rem;
  font-family: "REM";
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}
#sn {
  border: 1px black solid;
  color: white;
  background-color: #000;
  width: 6rem;
  height: 2rem;
  font-family: "raleway";
}

#bbb {
  padding-top: 1.2rem;
}
#truck {
  font-size: 2rem;
}
.fea {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.features {
  display: flex;
  justify-content: space-around;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}
.wo {
  font-family: "REM";
  font-weight: 300;
}
.nl {
  display: flex;
  justify-content: center;
  font-family: "REM";
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
  color: #d41d6d;
}
.nlc {
  display: flex;
  justify-content: center;
  font-family: "REM";
  font-size: 1rem;
  font-weight: 300;
  padding: 0rem 1rem 1rem 1rem;
}
#nli {
  width: 30rem;
  height: 1.5rem;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 10px;
  border: 1px white solid;
}
#nli:focus {
  outline: none;
}
#nlb {
  width: 2.5rem;
  height: 1.75rem;
  border: none;
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  color: white;
  background: #000;
}

#sl {
  font-size: 1.2rem;
}
.ib {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter {
  margin-top: 3rem;
  background: #ccdbfe;
  color: black;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 9rem;
  border-radius: 15px;
}
.left-footer {
  font-size: 1.5rem;
  font-family: "raleway";
  font-weight: 300;
}
.right-footer {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  width: 10rem;
}
footer {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  align-items: center;
  color: black;
  background-color: #ccdbfe;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 98.5vw;
}
.login-buton {
  font-size: 0.95rem;
  font-family: "raleway";
  color: black;
  display: flex;
  align-items: center;
  border: none;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  border-radius: 25px;
  color: white;
  background: black;
  height: 2.25rem;
}
.k-c-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98.5vw;
  margin-right: auto;
  margin-left: auto;
  row-gap: 1rem;
  min-height: 50vh;
  padding-bottom: 0.7rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.d-c {
  display: flex;
  background: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 1rem;
  border-radius: 10px;
  width: 1000px;
}
#c-i {
  width: 140px;
  height: 150px;
  object-fit: cover;
  border: none;
}

.opop {
  margin-right: 1rem;
}
.right-bot {
  display: flex;
  flex-direction: column;
}
#c-t {
  font-size: 1.5rem;
}
#q-q {
  font-size: 1.1rem;
  font-family: "raleway";
}
#ca-bu {
  display: flex;
  margin-top: 1rem;
}
#pbc,
#mbc {
  background: transparent;
  width: 2.5rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "raleway";
  border: 1px solid black;
}
#mbc {
  color: white;
  background-color: black;
}
#trash {
  font-size: 1.4rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border: none;
  margin-left: 2rem;
}
#dbuto {
  height: 1.9rem;
  font-size: 1rem;
  font-family: "raleway";
  width: 10rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: white;
  background: #000;
}
.haa {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.msgpo {
  display: flex;
  font-size: 1.2rem;
  font-family: "raleway";
  justify-content: center;
}
#ghi {
  color: black;
}
@media (max-width: 1175px) {
  .d-c {
    width: 80vw;
  }
}
.imgdetail {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.item-cont {
  background: white;
  width: 200px;
  height: 390px;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.item-cont-king {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 72vw;
  margin: auto;
}
.title {
  font-size: 0.8rem;
}
.bottom-area-item {
  display: flex;
  flex-direction: column;
}
#offers-name {
  font-size: 2rem;
  font-family: "raleway";
  display: flex;
  justify-content: center;
  margin: 0 0 0.5rem 0;
}
#notprice {
  text-decoration: line-through;
}
body {
  background: white;
}
.buttons-a {
  display: flex;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}
.butto12,
.butto22 {
  font-family: "raleway";
  border: 1px black solid;
  height: 1.5rem;
}
.butto12 {
  color: white;
  background: #000;
}
.butto22 {
  background-color: white;
  color: black;
}
.king-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  width: 98.5vw;
  background-color: #8fb3ff;
  color: black;
  border-radius: 15px;
  height: 89%;
  margin-bottom: 0.5rem;
}
.slinks {
  text-decoration: none;
  color: black;
}

.uf-bot {
  background: #8fb3ff;
  color: black;
  border-radius: 15px;
  width: 98.5vw;
  margin-bottom: 0.5rem;
}
.cart-cont-king {
  height: 88%;
  margin-top: 0.7rem;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 0.5rem;
}
@media (max-width: 1200px) {
  .de {
    width: 90vw;
  }
}
.category-image {
  width: 13rem;
  height: 18rem;
  object-fit: cover;
}
.cont {
  display: flex;
  width: 60rem;
  justify-content: space-around;
}
.ing-cont {
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  display: flex;
  width: 98.5vw;
  height: 110%;
  min-height: 45vh;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 0.5rem;
}
.category-cont {
  font-family: "raleway";
  text-decoration: none;
  color: black;
}
.itle {
  text-align: center;
  font-size: 1.2rem;
  background-color: black;
  color: #e7ddf7;
}
.fc {
  display: flex;
  font-family: "raleway";
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #d41d6d;
  justify-content: center;
  width: 22rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.oiwdf {
  display: flex;
  flex-direction: column;
  background-color: #8fb3ff;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 15px;
  width: 60rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 1100px) {
  .oiwdf {
    width: 25rem;
  }
  .itle {
    width: 20rem;
  }
}
.shrinked-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.kico {
  width: 98.5vw;
  height: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
  border-radius: 15px;
  background-color: rgb(213, 211, 211);
  margin-bottom: 0.5rem;
}
.sform {
  border-radius: 10px;
  padding: 1.5rem 1.2rem 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#sti {
  font-size: 1.5rem;
  font-family: "Montserrat";
  padding-bottom: 1rem;
  color: black;
  font-weight: 500;
}
.headings {
  font-size: 1rem;
}
.stinp,
stinp:focus {
  width: 20rem;
  height: 1.1rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: "raleway";
  padding-left: 0.7rem;
  padding-top: 0.4rem;
  border: 1px black solid;
}
#sfbutt {
  height: 1.9rem;
  font-size: 1rem;
  font-family: "raleway";
  width: 10rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: white;
  background: #000;
}
#buk {
  padding-top: 1.2rem;
  display: flex;
  justify-content: center;
}
.w1 {
  padding-bottom: 1rem;
}
#fp {
  font-size: 0.8rem;
  font-weight: 500;
}
.passw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#newto {
  display: flex;
  justify-content: center;
  font-family: "raleway";
  text-decoration: underline;
  font-size: 0.9rem;
  margin-top: 0.8rem;
  color: black;
}
.kcont {
  width: 98.5vw;
  display: flex;
  flex-direction: column;
}
.pr {
  font-size: 1.5rem;
  font-family: "raleway";
  padding: 0.4rem 1rem 0.4rem 1rem;
  background-color: white;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 15px;
  color: black;
}
.pcont {
  display: flex;
  column-gap: 1.5rem;
  padding-left: 2rem;
  min-height: 78vh;
  padding: 1rem 0.7rem 0.7rem 0.7rem;
  background-color: rgb(213, 211, 211);
  border-radius: 15px;
  flex-wrap: wrap;
  row-gap: 0.8rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}
.pro-king {
  display: flex;
  width: 98.5vw;
  justify-content: center;
  height: 50vh;
  align-items: center;
}
#lgoutbut {
  height: 1.9rem;
  font-size: 1rem;
  font-family: "raleway";
  width: 10rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: white;
  background: #000;
}
.useifo {
  font-size: 1.5rem;
  font-family: "REM";
  font-weight: 300;
  color: #d41d6d;
}
#uname {
  font-family: "major mono display";
  color: black !important;
}
.pro-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#g2 {
  margin-top: 1rem;
}
#redirecte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#remsg {
  font-size: 1.5rem;
  font-family: "Segoe UI";
}
#relink {
  text-decoration: underline;
  color: blue;
  font-family: "raleway";
}
.errmg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "raleway";
  flex-direction: column;
}
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "raleway";
}
#cateitems {
  width: 12rem;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "raleway";
  border-radius: 15px;
}
#cil {
  width: 97vw;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
#bvnn {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
