.imgdetail {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.item-cont {
  background: white;
  width: 200px;
  height: 390px;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.item-cont-king {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 72vw;
  margin: auto;
}
.title {
  font-size: 0.8rem;
}
.bottom-area-item {
  display: flex;
  flex-direction: column;
}
#offers-name {
  font-size: 2rem;
  font-family: "raleway";
  display: flex;
  justify-content: center;
  margin: 0 0 0.5rem 0;
}
#notprice {
  text-decoration: line-through;
}
body {
  background: linear-gradient(360deg, #fff, #d7e1ec 74%);
  overflow-x: hidden;
}
.buttons-a {
  display: flex;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}
.butto {
  font-family: "raleway";
  border: 1px black solid;
  height: 1.5rem;
}
.butto:hover {
  color: white;
  background: #000;
}
.king-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91vh;
}
.slinks {
  text-decoration: none;
  color: black;
}
