.imgdetail {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.item-cont {
  background: white;
  width: 200px;
  height: 390px;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.item-cont-king {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 72vw;
  margin: auto;
}
.title {
  font-size: 0.8rem;
}
.bottom-area-item {
  display: flex;
  flex-direction: column;
}
#offers-name {
  font-size: 2rem;
  font-family: "raleway";
  display: flex;
  justify-content: center;
  margin: 0 0 0.5rem 0;
}
#notprice {
  text-decoration: line-through;
}
body {
  background: white;
}
.buttons-a {
  display: flex;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}
.butto12,
.butto22 {
  font-family: "raleway";
  border: 1px black solid;
  height: 1.5rem;
}
.butto12 {
  color: white;
  background: #000;
}
.butto22 {
  background-color: white;
  color: black;
}
.king-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
  width: 98.5vw;
  background-color: #467d5b;
  color: #e7ddf7;
  border-radius: 15px;
  height: 89%;
  margin-bottom: 0.5rem;
}
.slinks {
  text-decoration: none;
  color: black;
}
.tile,
.desc,
.tt,
.de {
  color: #e7ddf7;
}
.uf-bot {
  background-color: #467d5b;
  color: #e7ddf7;
  border-radius: 15px;
  /* min-height: 45vh; */
  width: 98.5vw;
  margin-bottom: 0.5rem;
}
.cart-cont-king {
  height: 88%;
  margin-top: 0.7rem;
  border-radius: 15px;
  background-color: #467d5b;
  margin-bottom: 0.5rem;
}
@media (max-width: 1200px) {
  .de {
    width: 90vw;
  }
}
